.App {
  text-align: center;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 24px;
  font-weight: bold;
}

.SearchBar {
  margin-bottom: 20px;
}

.ProductList {
  margin-bottom: 20px;
}

.ShoppingList {
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  width: 300px;
  margin: 0 auto;
  margin-bottom: 10px;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card .card-img-top {
  height: 200px;
  object-fit: contain;
}

.product-card .card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-card .card-text {
  margin-bottom: 10px;
}

.product-card .btn-primary {
  width: 50%;
  margin-bottom: 10px;
}

.store-grouping {
  margin-bottom: 30px;
}

.store-grouping h4 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}